In [1]:
import pandas as pd
import numpy as np
import time
from MissForestExtra import MissForestExtra

In [2]:
fish = pd.read_csv('fish.csv')
fish.iloc[1, 0] = np.nan
fish.iloc[155, 0] = np.nan
fish.iloc[1, 2] = np.nan
fish.iloc[155, 2] = np.nan

In [3]:
fish

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1       NaN   290.0      NaN     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155     NaN    13.4      NaN     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [4]:
from xgboost import XGBClassifier, XGBRegressor
xgbc = XGBClassifier(use_label_encoder=False, eval_metric='merror')
xgbr = XGBRegressor(use_label_encoder=False, eval_metric='merror')

In [5]:
mfe = MissForestExtra()

In [6]:
mfe.impute(fish, 'Species', xgbc)

0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [7]:
mfe.impute(fish, 'Length1', xgbr)

0      23.200000
1      24.063515
2      23.900000
3      26.300000
4      26.500000
         ...
154    11.500000
155    11.315135
156    12.100000
157    13.200000
158    13.800000
Name: Length1, Length: 159, dtype: float64