In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
fish = pd.read_csv('Fish.csv')
fish.iloc[1, 0] = np.nan
fish.iloc[155, 0] = np.nan
fish.iloc[1, 2] = np.nan
fish.iloc[155, 2] = np.nan

In [4]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     NaN   290.0      NaN     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

rfc = RandomForestClassifier()
rfr = RandomForestRegressor()

In [6]:
!pip install MissForestExtra==1.1.0

from MissForestExtra import MissForestExtra

Collecting MissForestExtra==1.1.0
  Downloading MissForestExtra-1.1.0-py3-none-any.whl (4.1 kB)
Installing collected packages: MissForestExtra
  Attempting uninstall: MissForestExtra
    Found existing installation: MissForestExtra 1.0.1
    Uninstalling MissForestExtra-1.0.1:
      Successfully uninstalled MissForestExtra-1.0.1
Successfully installed MissForestExtra-1.1.0

# Single Column Imputation

In [7]:
mfe = MissForestExtra()
mfe.single_impute(fish, "Species", rfc)

0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [8]:
mfe.single_impute(fish, "Length1", rfr)

0      23.200
1      24.086
2      23.900
3      26.300
4      26.500
        ...
154    11.500
155    11.555
156    12.100
157    13.200
158    13.800
Name: Length1, Length: 159, dtype: float64

# Full DataFrame Imputation

In [9]:
mfe = MissForestExtra()
mfe.impute(fish, rfc, rfr)

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0   23.200     25.4     30.0  11.5200  4.0200
1     Bream   290.0   24.236     26.3     31.2  12.4800  4.3056
2     Bream   340.0   23.900     26.5     31.1  12.3778  4.6961
3     Bream   363.0   26.300     29.0     33.5  12.7300  4.4555
4     Bream   430.0   26.500     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2   11.500     12.2     13.4   2.0904  1.3936
155   Smelt    13.4   11.622     12.4     13.5   2.4300  1.2690
156   Smelt    12.2   12.100     13.0     13.8   2.2770  1.2558
157   Smelt    19.7   13.200     14.3     15.2   2.8728  2.0672
158   Smelt    19.9   13.800     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]